@using ToDoList.Models
@using ToDoList.ViewModels
@model AdminModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AdminPage</title>

    <style>
        td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Admin Page</h1>

    <h3>Users</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Role</td>
            <td>Avatar</td>
            <td>Tasks</td>
        </tr>

        @foreach (UserModel user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.LoginData.Email</td>
                <td>@user.Role</td>
                <td>@user.Avatar</td>
                <td>@user.Tasks.Count</td>
                <td>@Html.ActionLink("View tasks", "Index", "Home", new { UserId = user.Id })</td>
                <td>@Html.ActionLink("Delete User", "DeleteUser", "Admin", new { userId = user.Id })</td>
            </tr>
        }
    </table>
</body>
</html>