@using ToDoList.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>

    <style>

    </style>
</head>

<body>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Login" asp-action="Logout">Logout</a>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.Id)
            @Html.EditorFor(m => m.Id)
        </p>
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Role)
            @Html.EditorFor(m => m.Role)
        </p>
        <p>
            @Html.LabelFor(m => m.LoginData.Email)
            @Html.EditorFor(m => m.LoginData.Email)
        </p>
        <p>
            @Html.LabelFor(m => m.LoginData.Password)
            @Html.EditorFor(m => m.LoginData.Password)
        </p>
        <p>
            @Html.LabelFor(m => m.Avatar)
            @Html.EditorFor(m => m.Avatar)
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    }
</body>
</html>