@using ToDoList.Models
@model IEnumerable<TaskModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>

    <style>
        td {
            padding: 10px;
        }

        h2, p {
            padding: 10px 40px;
        }
    </style>
</head>
<body>
    <h2 style="display: inline">Список дел</h2>
    <span><a href="/Home/CreateTask">Добавить</a></span>

    @if (Model == null || Model.Count() == 0)
    {
        <p>У вас нет дел</p>
    }
    else
    {


        //   ActionName — имя действия(в данном случае — Index). 2
        // ControllerName — имя контроллера(в данном случае — Home). 2
        // FormMethod — метод формы(GET или POST). В данном случае будет установлен POST. 2
        @*   @foreach (var task in Model)
    {
    <form method="post" action="/Home/EditTask" style="margin:25px">
    <span>@task.Id</span>
    <span>@task.Lable</span>
    <span>@task.ExpiresDate</span>
    <span>@task.Status</span>
    <span>@task.Priority</span>
    <span>@task.Description</span>
    <input type="submit" value="Редактировать" />
    <input type="button" action="/Home/DeleteTask/?Id=@task.Id" value="Удалить" />
    @Html.ActionLink("Изменить", "EditTask", "Home", new { Id = task.Id });
    </form>
    } *@
        <table>
            <tr>
                <td>Id</td>
                <td>Lable</td>
                <td>Date</td>
                <td>Status</td>
                <td>Priority</td>
                <td>Description</td>
            </tr>

            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Lable</td>
                    <td>@task.ExpiresDate</td>
                    <td>@task.Status</td>
                    <td>@task.Priority</td>
                    <td>@task.Description</td>
                    <td>
                        @Html.ActionLink("Изменить", "EditTask", "Home", new
                            {
                                Id = task.Id,
                                Lable = task.Lable,
                                ExpiresDate = task.ExpiresDate,
                                Status = task.Status,
                                Priority = task.Priority,
                                Description = task.Description
                            });
                    </td>
                    <td>@Html.ActionLink("Удалить", "EditTask", "Home", new { Id = task.Id })</td>
                </tr>
            }
        </table>
    }

</body>
</html>