@using ToDoList.Models
@using ToDoList.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>

    <style>
        td {
            padding: 10px;
        }

        h2, p {
            padding: 10px 40px;
        }
    </style>
</head>
<body>
    <p>
        <a href="/Profile/Index">Profile</a>
        <!--
            if (Model.Role == Role.Admin)
        {
           <a style="margin-left: 10px" href="/Admin/Index">Admin Page</a>
        }
        -->
    </p>
    <div style="margin-bottom:20px">
        <h2 style="display: inline">To Do List</h2>
        <span><a href="/Home/CreateTask">Add</a></span>
    </div>

    <div style="margin: 10px">
        <form method="get" style="display:inline">
            <label>Название</label>
            <input asp-for="FilterViewModel.LablePart" value="@Model.FilterViewModel.LablePart" />

            <label>Статус: </label>
            <select asp-for="FilterViewModel.SelectedStatus" asp-items="@Model.FilterViewModel.Status"></select>

            <label>Дата: </label>
            <select asp-for="FilterViewModel.SelectedDateScope" asp-items="@Model.FilterViewModel.Data"></select>

            <label>Приоритет: </label>
            <select asp-for="FilterViewModel.SelectedPriority" asp-items="Model.FilterViewModel.Priority"></select>

            <input type="submit" value="Apply" />
        </form>

        <form method="get" style="display:inline">
            <input type="submit" value="Reset" />
        </form>
    </div>

    @if (Model == null || Model.Tasks.Count() == 0)
    {
        <p>You haven't got anything to do.</p>
    }
    else
    {
        <table>
            <tr>
                <td>Id</td>
                <td>
                    <a asp-action="Index"
                       asp-route-sortState="@(Model.SortViewModel.LableSort)"
                       asp-route-filterViewModel="@(Model.FilterViewModel)">
                        Lable
                    </a>
                </td>
                <td>
                    <a asp-action="Index"
                       asp-route-sortState="@(Model.SortViewModel.DateSort)"
                       asp-route-filterViewModel="@(Model.FilterViewModel)">
                        Date
                    </a>
                </td>
                <td>Status</td>
                <td>
                    <a asp-action="Index"
                       asp-route-sortState="@(Model.SortViewModel.PrioritySort)"
                       asp-route-filterViewModel="@(Model.FilterViewModel)">
                        Priority
                    </a>
                </td>
                <td>Description</td>
            </tr>

            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Lable</td>
                    <td>@task.ExpiresDate</td>
                    <td>@task.Status</td>
                    <td>@task.Priority</td>
                    <td>@task.Description</td>
                    <td>
                        @Html.ActionLink("Edit", "EditTask", "Home", task)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteTask", "Home", task)
                    </td>
                </tr>
            }
        </table>
    }

</body>
</html>